.section-subtitle {
    display: flex;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    width: 60%;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 0px;
    z-index: 1;
  }
  